p {
    color: blue;
    font-family: 'Water Brush', cursive;
}

li {
    color: gold;
    font-size: 40px;
    font-family: 'Festive', cursive;
}

h3 {
    color: green;
    font-size: 24px;
    font-family: 'Water Brush', cursive;
}

p {
    color: palegreen;
    font-size: 24px;
}

.qweqweqwe {
    color: royalblue;
    font-size: 32px;
}