@import 'flexmixin';



.card {
    width: 400px;
    height: 500px;
    padding: 20px;
    @include flexbox();
    @include redHugeBlock();

    .card-body {
        background-color: blue;

        .card-title {
            font-size: $big-fontsize;
            color: saddlebrown;
        }

        .card-description {
            color: sandybrown;
        }
    }    
}